*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body {

    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center; 
    margin: 20px auto;  
    background-color: rgba(12, 9, 9, 0.944);
    color:#fff;
  
  }

  .notes{
    position: absolute;
    z-index: 9;
    text-align: center;
    cursor: move;
    width: 250px;
    height: 250px;
    overflow: hidden;
    padding-top: 20px;
    color: black;
  }

  /*.note-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr)); /* Adjust 100px for desired column width */
    /*gap: 10px; /* Space between the grid items */
  /*}*/

  .note-content{
    /*width: 100%;
    height: 100%;*/
    position: relative;

    height: 95%;
    width: 95%;
    margin-left: 6.25px;

    /*max-width: 90px;
    max-height: 90px;*/

    /*display: flex;
    justify-content: center;
    align-items: center;*/

    overflow: scroll;
    word-wrap: break-word;

    cursor: text;

    background: inherit;
  }


#notes-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px; 
}


#button-wrap {
  display: flex;                                   
  justify-content: flex-end;    
  width: 50%;
  margin-top: -20px;
  margin-left: -5px;                   
          
}

.color1, .color2, .color3{
  border: none;
  background: none;
  cursor: pointer;
  right: 5px;
  top: 5px;
  z-index: 1;
  font-size: 20px;
  
}
  
.rm-btn {
  border: none;
  background: none;
  cursor: pointer;
  right: 5px;
  position: absolute;
  z-index: 1;
  font-size: 20px;
}

#notes{
    padding-left: 5px;
}
.color-btn {  
    padding: 2px 6px;
    cursor: pointer;
    background-color: transparent;
    border: none;
}

#con{
  justify-content: space-between;
  padding: 20px;
  background-color: #027587; 
  width: 500px;
  display: flex;
  border-radius: 10px;
}
#innerCon1{
  width: 40%;
  background-color: #1694a7; 
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.321);
  text-align: center;
}
#innerCon2{
  width: 40%; 
  background-color: #1694a7; 
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.321);
  text-align: center; /*Centrerar all text inne i diven*/

}

input[type="text"], input[type="password"] {
  width: 100%; 
  padding: 10px; 
  margin: 4px 0; 
  box-sizing: border-box; 
  border-radius: 5px; 
  border: 1px solid #ccc; 
  font-size: 16px; 
}
#button-register{
  width: 100%; 
  padding: 10px; 
  margin: 4px 0; 
  box-sizing: border-box;
  border-radius: 5px;
  border-style: none;

}
#button-login{
  width: 100%; 
  padding: 10px; 
  margin: 4px 0; 
  box-sizing: border-box;
  border-radius: 5px;
  border-style: none;

}
#board-wrap{
  display: flex;
  width: 650px;
  border: 1px solid #ccc;
}

#board {
  width: 70px; 
  padding: 25px;
  border-right: 1px solid #ccc;
}

#boards-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr)); /* Creates the square layout */
  gap: 20px; /* Space between each board */
  padding: 10px;
  flex-grow: 1; /* Make this container take the rest of the available space */
}
.boards {
  text-align: center;
  border: none;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px; /* Ensure the board item is square */
  width: 90px;  /* Fixed width for a square */
}
#add-btn, #save-btn{
  height: 72px;
  border-radius: 0px;
  border: 2%;
  border-color: black;
}
