body {

    margin: 20px auto;
  
    font-family: 'Lato';
  
    background:#666;
  
    color:#fff;
  
  }
  

  /*div[id^="note"] {
    position: absolute;
    z-index: 9;
    background-color: #f1f1f1;
    text-align: center;
    border: 1px solid #d3d3d3;
    color: darkslategrey;
    cursor: move;
    width: 100px;
    height: 100px;
    align-content: center;
    align-items: center;
  }*/

  .notes{
    position: absolute;
    z-index: 9;
    background-color: #f1f1f1;
    text-align: center;
    border: 1px solid #d3d3d3;
    color: darkslategrey;
    cursor: move;
    width: 100px;
    height: 100px;
    align-content: center;
    align-items: center;
    overflow: hidden;
  }

  .note-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr)); /* Adjust 100px for desired column width */
    gap: 10px; /* Space between the grid items */
  }

  #note2 {
    top: 200px;
    left: 800px;
  }

  #note1{
    top: 200px;
    left: 500px;
  }

  .note-content{
    /*width: 100%;
    height: 100%;*/
    position: fixed;

    max-width: 90px;
    max-height: 90px;

    display: flex;
    justify-content: center;
    align-items: center;

    overflow: hidden;
    word-wrap: break-word;
  }
  